#projetos {
  align-items: center;
  justify-content: center;
}

.grid-container {
  background-color: black;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 72px;
  padding-bottom: 56px;
}

.grid-projetos {
  display: grid; /*organiza em linha tudo em baixo do outro*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 189px;
  padding-bottom: 144px;
}
