#projetos {
  align-items: center;
  justify-content: center;
}

.grid-container {
  background-color: black;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
h2 {
  padding-top: 72px;
}
p {
  padding-top: 2px;
  padding-bottom: 56px;
}

.grid-projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-inline: 160px;
  padding-top: 56px;
  padding-bottom: 144px;
}
